{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" type="text/css" media="screen">
{% endblock %}

{% block style %}
.tooltip-inner {
    max-width: 100%; /* If max-width does not work, try using width instead */
    width: 100%; 
}

.help-block {
    visibility: hidden
}

{% endblock %}

{% block formstart %}
<form action="" method="post">
{% csrf_token %}
{% endblock %}

{% block content %}
<h1>{{ module }}</h1>
<h2>{{ assessment }} Feedback for Group {{ group_number }}</h2>
<br>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseGroup">
                    Group Part<span class="badge pull-right" id="badge_group">No group mark given yet</span>
                </a>
            </h4>
        </div>
        <div id="collapseGroup" class="panel-collapse collapse in">
            <div class="panel-body">
                {% crispy group_form %}
            </div>
        </div>
    </div>
    {% for student, form in student_forms.items %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ student.student_id }}">
                        {{ student.first_name }} {{ student.last_name }}<span class="badge pull-right" id="badge_{{ student.student_id }}">Not marked yet</span>
                    </a>
                </h4>
            </div>
            <div id="collapse{{ student.student_id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<br><br>
    <input type = "submit" value="Save" class="btn btn-default">


{% endblock %}

{% block formend %}
</form>
{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js"> </script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function(){
        $('.glyphicon-question-sign').tooltip();
        $(".chosen-select").chosen();
        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            weekstart: 1
        });

        {% if assessment.submission_date %}
            var deadline = new Date("{{ assessment.submission_date }}");
            $('#id_group-submission_date').change(function() {
                var datestring = $(this).val();
                var datearray = datestring.split('/');
                var year = datearray[2];
                var month = parseInt(datearray[1]) - 1;
                var day = datearray[0]
                var submission_date = new Date(year, month, day);
                if (submission_date > deadline) {
                    var difference = submission_date - deadline;
                    var seconds = difference / 1000;
                    var minutes = seconds / 60;
                    var hours =  minutes / 60;
                    var days = hours / 24;
                    if (days > 4) {
                        var penalty_suggestion = 'The submission was 5 or more days after the deadline. If this group has no extenuating circumstances, this should result in a mark of 0';
                    }
                    else {
                        var penalty = days * 5;
                        var penalty_suggestion = 'The submission was ' + days + ' days after the deadline. If this group has no extenuating circumstances, the mark should be reduced by ' + penalty + ' points.';
                    };
                }
                else {
                    penalty_suggestion = '';
                };
                $('#penalty_suggestion').text(penalty_suggestion);
            });
        {% endif %}

        function calculate_and_validate_group() {
            var entry = $('#id_group-group_mark').val();
            var badgetext = entry;
            if (entry.length == 0) {
                badgetext = 'No group mark given yet';
            }
            else {
                var tmp = parseInt(entry);
                if(isNaN(tmp)) {
                    badgetext = 'Invalid Entry - please enter a number';
                }
                else {
                    if (tmp>100) {
                        badgetext = 'Mark too high - the highest mark possible is 100.';
                    };
                };
            };
            $("#badge_group").text(badgetext);
            return badgetext;
        };

        function calculate_and_validate_student(student_id) {
            var field_id = '#id_' + student_id + '-individual_mark';
            var badge_id = '#badge_' + student_id;
            var entry = $(field_id).val();
            var badgetext = 'Huhu';
            if (entry.length == 0) {
                badgetext = 'No mark given yet';
            }
            else {
                var tmp = parseInt(entry);
                if(isNaN(tmp)) {
                    badgetext = 'Invalid Entry - please enter a number';
                }
                else {
                    if (tmp>100) {
                        badgetext = 'Mark too high - the highest mark possible is 100.';
                    }
                    else {
                        var group_mark_raw = calculate_and_validate_group();
                        var group_mark = parseInt(group_mark_raw);
                        if (isNaN(group_mark)) {
                            badgetext = 'Individual Part: ' + entry + ' / Please enter a valid group mark';
                        }
                        else {
                            var group_weighting = parseInt({{ split.0 }});
                            var individual_weighting = parseInt({{ split.1 }});
                            var together = group_weighting + individual_weighting;
                            var a = group_weighting * group_mark;
                            var b = individual_weighting * tmp;
                            var both = a + b;
                            var combined = both / together;
                            badgetext = 'Individual Part: ' + entry + ' / Combined: ' + combined;
                        };
                    };
                };
            };
            $(badge_id).text(badgetext);
        };

        function check_all() {
            {% for student_id in student_ids %}
            calculate_and_validate_student('{{ student_id }}');
            {% endfor %}
        };


        $('#id_group-group_mark').change(function() {
            check_all();
        });

        $('.individual_mark').change(function() {
            check_all();
        });

        check_all();

    });

</script>
{% endblock %}
