{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" type="text/css" media="screen">
{% endblock %}

{% block style %}
.tooltip-inner {
    max-width: 100%;
    /* If max-width does not work, try using width instead */
    width: 100%; 
}

.help-block {
    visibility: hidden
}

{% endblock %}

{% block content %}
<h1>{{ module }}</h1>
<h2>{{ assessment }} {% if resit %}(Resit) {% endif %}Feedback for {{ student.name }}</h2>
<br>
{% crispy form %}

{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js"> </script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function(){
        $('.glyphicon-question-sign').tooltip();
        $(".chosen-select").chosen();
        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            weekstart: 1
        });

        {% if assessment.submission_date %}
            {% if resit %}
                var deadline = new Date("{{ assessment.resit_submission_date }}");
            {% else %}
                var deadline = new Date("{{ assessment.submission_date }}");
            {% endif %}
            $('#id_submission_date').change(function() {
                var datestring = $(this).val();
                var datearray = datestring.split('/');
                var year = datearray[2];
                var month = parseInt(datearray[1]) - 1;
                var day = datearray[0]
                var submission_date = new Date(year, month, day);
                if (submission_date > deadline) {
                    var difference = submission_date - deadline;
                    var seconds = difference / 1000;
                    var minutes = seconds / 60;
                    var hours =  minutes / 60;
                    var days = hours / 24;
                    if (days > 6) {
                        var penalty_suggestion = 'The submission was 7 or more days after the deadline. If this student has no extenuating circumstances, this should result in a mark of 0';
                    }
                    else {
                        var penalty = days * 5;
                        var penalty_suggestion = 'The submission was ' + days + ' days after the deadline. If this student has no extenuating circumstances, the mark should be reduced by ' + penalty + ' points.';
                    };
                }
                else {
                    penalty_suggestion = '';
                };
                $('#penalty_suggestion').text(penalty_suggestion);
            });
        {% endif %}

        {% if marksheet_type == 'MEDIATION_ROLE_PLAY' %}

        function calculateAndValidate() {
            var sum_of_marks = 0;
            var number_of_marks = 0;
            var any_error = false;
            for (i=1; i<4; i++) {
                var error = false;
                entry_id = '#id_category_mark_' + i.toString() + '_free';
                entry = $(entry_id).val();
                console.log(entry_id);
                console.log(entry);
                if (entry==null || entry=="") {
                }
                else {
                    var mark = parseInt(entry);
                    if (mark > 100) {
                        var errortext = "The highest mark possible is 100";
                        error = true;
                    }
                    else {
                        sum_of_marks = sum_of_marks + mark;
                        number_of_marks++;
                    };
                    var error_id = '#error_' + i.toString();
                    if (error) {
                        $(error_id).text(errortext);
                        any_error = true;
                    }
                    else {
                        $(error_id).text('');
                    };
                };
            };
            if (any_error) {
                $('#submit-id-save').prop('disabled', true);
            }
            else {
                $('#submit-id-save').prop('disabled', false);
            }
            if (number_of_marks > 0) {
                var tmp = sum_of_marks/number_of_marks;
                var overall_mark = Math.round(tmp);
            }
            else {
                var overall_mark = '';
            };
            $('#id_mark').val(overall_mark.toString());
        };

        $('#id_category_mark_1_free').change(function(){
            calculateAndValidate();
        });
        $('#id_category_mark_2_free').change(function(){
            calculateAndValidate();
        });
        $('#id_category_mark_3_free').change(function(){
            calculateAndValidate();
        });

        {% elif marksheet_type == 'NEGOTIATION_CRITICAL_REFLECTION' %}

        function calculateAndValidate() {
            var sum_of_marks = 0;
            var number_of_marks = 0;
            var any_error = false;
            for (i=1; i<4; i++) {
                var error = false;
                entry_id = '#id_category_mark_' + i.toString() + '_free';
                entry = $(entry_id).val();
                console.log(entry_id);
                console.log(entry);
                if (entry==null || entry=="") {
                }
                else {
                    var mark = parseInt(entry);
                    switch(i) {
                        case 1:
                            var max = 60;
                            break;
                        case 2:
                            var max = 40;
                            break;
                        case 3:
                            var max = 8;
                            break;
                    };
                    if (mark > max) {
                        var errortext = "The highest mark possible is ";
                        errortext += max.toString();
                        error = true;
                    }
                    else {
                        if (i==3) {
                            sum_of_marks = sum_of_marks - mark;
                        }
                        else {
                            sum_of_marks = sum_of_marks + mark;
                        };
                        number_of_marks++;
                    };
                    var error_id = '#error_' + i.toString();
                    if (error) {
                        $(error_id).text(errortext);
                        any_error = true;
                    }
                    else {
                        $(error_id).text('');
                    };
                };
            };
            if (any_error) {
                $('#submit-id-save').prop('disabled', true);
            }
            else {
                $('#submit-id-save').prop('disabled', false);
            }
            if (number_of_marks > 0) {
                var overall_mark = sum_of_marks;
            }
            else {
                var overall_mark = '';
            };
            $('#id_mark').val(overall_mark.toString());
        };

        $('#id_category_mark_1_free').change(function(){
            calculateAndValidate();
        });
        $('#id_category_mark_2_free').change(function(){
            calculateAndValidate();
        });
        $('#id_category_mark_3_free').change(function(){
            calculateAndValidate();
        });

        {% endif %}

        counter = function() {
            var value = $('#id_comments').val();

            if (value.length == 0) {
                $('#wc').html(0);
                return;
            }
            var regex = /\s+/gi;
            var wordCount = value.trim().replace(regex, ' ').split(' ').length;
            $('#wc').html(wordCount);
        };

        $('#id_mark').change(function(){
                if (parseInt($('#id_mark').val())>39) {
                    $('#last_sentence').text('For further feedback, please see {% if more_than_one_marker %}one of us in their {% else %}me in my {% endif %}office hour.');
                }
                else {
                    $('#last_sentence').text('Please make sure to see {% if more_than_one_marker %}one of us in their {% else %}me in my {% endif %}office hour.');
                }
        });

        counter();
        $('#id_comments').click(counter);
        $('#id_comments').change(counter);
        $('#id_comments').keydown(counter);
        $('#id_comments').keypress(counter);
        $('#id_comments').keyup(counter);
        $('#id_comments').blur(counter);
        $('#id_comments').focus(counter);

    });

</script>
{% endblock %}
