.fixed-table {
    display: block;
    position: relative;
}

.fixed-table .table-content {
    display: block;
    position: relative;
    height: 500px; /*FIX THE HEIGHT YOU NEED*/
    overflow-y: auto;
}

.fixed-table .table-copy, .fixed-table .header-copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1020;
    background-color:#fff;
}
