{% extends "base.html" %}
{% load custom_filters %}

{% block formstart %}
<form method="post">
{% endblock %}

{% block content %}

<h1>Add Students to {{ module }}</h1>

<div class="panel">
    <div class="panel-body">
        <label>Add / remove all from...</label>
        <div class="btn-group" id="add_on_bulk_buttons">
            {% for course, students in courses.items %}
                <button type="button" class="btn btn-default btn-sm" id="{{ course|remove_spacebars }}">{{ course }}</button>
            {% endfor %}
        </div>
    </div>
</div>

<table id="sortable_table" class="table table-hover table-sortable">
    <thead>
        <tr>
            <th>
            </th>
            {% if more_than_one_year %}
            <th>
                Year
            </th>
            {% endif %}
            <th>
                Student
            </th>
            <th>
                ID
            </th>
            <th>
                Course
            </th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <input type="checkbox" name="student_ids" value="{{ student.student_id }}" id="cb_{{ student.student_id }}">
                </td>
                {% if more_than_one_year %}
                <td>
                    {{ student.year }}
                </td>
                {% endif %}
                <td>
                    {{ student }}
                </td>
                <td>
                    {{ student.student_id }}
                </td>
                <td>
                    {{ student.course }}{% if student.is_part_time %} (part time){% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<input type="submit" value="Add students" class="btn btn-primary" id="submit">
{% endblock %}

{% block formend %}
{% csrf_token %}
</form>
{% endblock %}


{% block loadscripts %}
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

$(document).ready(function() {

    $('#sortable_table').tablesorter();

    {% for course, students in courses.items %}
        $('#{{ course|remove_spacebars }}').click(function() {
            if ($(this).hasClass('active')){
                $(this).removeClass('active');
                {% for student_id in students %}
                    $('#cb_{{ student_id }}').prop('checked', false);
                {% endfor %}
            }
            else {
                $(this).addClass('active');
                {% for student_id in students %}
                    $('#cb_{{ student_id }}').prop('checked', true);
                {% endfor %}
            };
        });
    {% endfor %}
});

</script>

{% endblock %}
