{% extends "base.html" %}
{% load custom_filters %}

{% block style %}

.glyphicon
{
    cursor: pointer;
}
.input-group
{
    width: 120px;
}

{% endblock %}

{% block formstart %}
    <form action="" method="post" accept-charset="utf-8" role="form" id="form">
    {% csrf_token %}
{% endblock %} 

{% block content %}

{% if performances %}

<h2>
    Marks for {{ module }}
</h2>

<table id ="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Student
            </th>
            {% for assessment in module.all_assessment_titles %}
                <th>
                    {{ assessment.0 }}{% if assessment.1 %} ({{ assessment.1 }} %){% endif %}
                </th>
            {% endfor %}
            <th>
                Module Mark
            </th>
        </tr>
    </thead>
    <tbody>
    {% for performance in performances %}
        <tr>
            <td>
                <label>{{ performance.student.short_name }}</label>
            </td>
            {% for result in performance.all_results_as_slug_tpls %}
            <td>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-minus-sign modifier" id="minus_{{ result.0 }}_{{ performance.student.student_id }}"></span>
                    </span>
                    <input class="form-control mark_field" id= "mark_{{ result.0 }}_{{ performance.student.student_id }}" name="mark_{{ result.0 }}_{{ performance.student.student_id }}" value="{{ result.1 }}">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-plus-sign modifier" id="plus_{{ result.0 }}_{{ performance.student.student_id }}"></span>
                    </span>
                </div>
                (original: {{ result.1 }})
                <span class="help-block" id="help_{{ result.0 }}_{{ performance.student.student_id }}"></span>
            </td>
            {% endfor %}
            <td id="average_{{ performance.student.student_id }}">
                {{ performance.average }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<input type="submit" value="Save Marks" class="btn btn-default" align=right>

{% else %}

<h1>Congratulations - there are no averages ending with a 9!</h2>

<p>It looks like you are ready for the exam boards!</p>

<a href="{{ module.get_absolute_url }}" class="button btn btn-default">Back to the Module</a>

{% endif %}

{% endblock %}

{% block formend %}
</form>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

$(document).ready(function () {

    var prefixes = [];
    {% for slug in slugs %}
        var tpl = ["{{ slug.0 }}", {{ slug.1 }}];
        prefixes[prefixes.length] = tpl;
    {% endfor %}

    function calculate_average(student_id) {
        var sum = 0;
        var txt = ''
        for (i=0; i < prefixes.length; i++) {
            var prefix = prefixes[i]
            var identifier = '#mark_' + prefix[0] + "_" + student_id;
            var value = parseInt($(identifier).text());
            if (isNaN(value)) {
                value = parseInt($(identifier).val());
            };
            var weighting = parseInt(prefix[1]);
            var part_mark = value * weighting;
            sum = sum + part_mark;
        };
        var average = sum / 100;
        var show_average = Math.round(average);
        var field_id = '#average_' + student_id;
        $(field_id).text(show_average);
    };

    $('.modifier').click(function() {
        var this_id = $(this).attr("id");
        var this_list = this_id.split("_");
        var student_id = this_list[2];
        element_to_change = '#mark_'+ this_list[1] + '_' + student_id;
        current = parseInt($(element_to_change).val());
        if (this_list[0] == 'plus') {
            new_value = current + 1;
            if (new_value > 100) {
                new_value = 100;
            };
        }
        else {
            new_value = current - 1;
            if (new_value < 0) {
                new_value = 0;
            };
        };
        $(element_to_change).val(new_value);
        calculate_average(student_id);
    });

    $('.mark_field').change(function() {
        var this_id = $(this).attr("id");
        var this_list = this_id.split("_");
        var student_id = this_list[2];
        calculate_average(student_id);
    });

}); 
</script>

{% endblock %}
