{% extends "base.html" %}
{% block content %}
<h1>Admin Dashboard</h1>

{% if main_admin %}

<h2>Main Settings</h2>
<a href="{% url "main_settings" %}" id="main_settings" class="btn btn-default">Institution Settings</a>

{% endif %}

<h2>Courses</h2>
<div class="btn-group">
    <a href="{% url "course_overview" %}" id="edit_courses" class="btn btn-default">Edit Courses</a>
    <a href="#" class="btn btn-default">Show Course and Subject Overview (not ready yet)</a>
    <a href="{% url "subject_areas" %}" id="subject_areas" class="btn btn-default">Subject Areas</a>
</div>

<h2>Students</h2>

<h3>Add Students</h3>

<div class="btn-group">
    <a href="{% url "add_student" %}" class="btn btn-default">Add Student</a>
    <a href="{% url "upload_csv" %}" class="btn btn-default">Import Students by CSV file</a>
</div>

<h3>Attendance</h3>

<h4>All Students</h4>

<div class="btn-group">
    {% for subject_area, years in subject_areas.items %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ subject_area.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for year in years %}
                <li><a href="{% url "all_attendances" subject_area.slug year.0 %}">{{ year.1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<h4>Tier 4 Students Only</h4>

<div class="btn-group">
    {% for subject_area, years in subject_areas_real_years.items %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ subject_area.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for year in years %}
                <li><a href="{% url "export_tier_4_attendance" subject_area.slug year %}">{{ year }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>


<h3>Assessment</h3>

<h4>Overview of All Module Marks So Far</h4>

<div class="btn-group">
    {% for subject_area, years in subject_areas.items %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ subject_area.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for year in years %}
            <li><a href="{% url "export_all_marks" subject_area.slug current_year year.0 %}">{{ year.1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<h4>Overview of All Changes from...</h4>

<div class="col-xs-2"><input class="datepicker dateinput form-control" id="changes_date" type="text" value="{{ today.day }}/{{ today.month }}/{{ today.year }}" /></div><br><br>

{% for subject_area, years in subject_areas.items %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{ subject_area.name }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for year in years %}
        <li><a class="marks_from_date" href="{% url "export_changed_marks" subject_area.slug current_year year.0 today.year today.month today.day %}">{{ year.1 }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

<br><br>
<h4>Exam Board Overview</h4>

<div class="btn-group">
    {% for subject_area, years in subject_areas.items %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ subject_area.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for year in years %}
            <li><a href="{% url "export_exam_board_overview" subject_area.slug current_year year.0 %}">{{ year.1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

{% comment %}
<h4>Anonymous marking</h4>
{% endcomment %}

<h3>Tutors</h3>

<h4>Assign Tutors</h4>

<div class="btn-group">
    {% for subject_area, years in subject_areas.items %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ subject_area.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for year in years %}
                <li><a href="{% url "assign_tutors" subject_area.slug year.0 %}">{{ year.1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<h4>All Tutor Meetings</h4>

<div class="btn-group">
    {% for subject_area, years in subject_areas.items %}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{ subject_area.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for year in years %}
                <li><a href="{% url "all_tutee_meetings" subject_area.slug year.0 %}">{{ year.1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<h2>Staff</h2>

<div class="btn-group">
    <a href="{% url "add_staff" %}" id="add_staff" class="btn btn-default">Add a new staff member</a>
    <a href="{% url "view_staff_by_name" %}" id="view_staff_by_name" class="btn btn-default">View Staff sorted by name</a>
    <a href="{% url "view_staff_by_subject" %}" id="view_staff_by_name" class="btn btn-default">View Staff sorted by subject areas</a>
</div>

<h2>Invite Students to NomosDB</h2>

<div class="btn-group">
    {% for subject_area, years in subject_areas.items %}
        <a href="{% url "invite_students" subject_area.slug %}" class="btn btn-default">{{ subject_area.name }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function() {

        var current_date_url = '{{ today.year }}/{{ today.month }}/{{ today.day }}';

        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            weekstart: 1
        });

        $("#changes_date").change(function() {
            var new_date = $(this).val();
            var day_str = new_date.substring(0, 2);
            var month_str = new_date.substring(3, 5);
            var year_str = new_date.substring(6, 10);
            var new_date_url = year_str + '/' + month_str + '/' + day_str;
            console.log(new_date_url);
            $(".marks_from_date").each(function() {
                url = $(this).attr("href");
                new_url = url.replace(current_date_url, new_date_url);
                $(this).attr("href", new_url);
            });
        });
    });

</script>
{% endblock %}
