{% extends "base.html" %}
{% block content %}
<h1>Admin Dashboard</h1>

{% if main_admin %}

<h2>Main Settings</h2>
<ul>
    <li><a href="{% url "main_settings" %}" id="main_settings">Main Settings</a></li>
</ul>

{% endif %}

<h2>Courses</h2>
<ul>
    <li><a href="{% url "course_overview" %}" id="edit_courses">Edit Courses</a></li>
    <li><a href="#">Show Course and Subject Overview (not ready yet)</a></li>
    <li><a href="{% url "subject_areas" %}" id="subject_areas">Subject Areas</a></li>
</ul>

<h2>Students</h2>
<ul>
    <li><a href="{% url "upload_csv" %}">Import Students by CSV file</a></li>
</ul>

<h2>Staff</h2>
<ul>
    <li><a href="{% url "add_staff" %}" id="add_staff">Add a new staff member</a></li>
</ul>
{% endblock %}
