{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker3.css" type="text/css" media="screen">
{% endblock %}

{% block style %}
td {
    padding: 10px;
}
{% endblock %}

{% block content %}
<h1>{{ module }} - Assessment</h1>

<br><a class="btn btn-default" href="{{ module.get_absolute_url }}">Back to module</a><br><br>

{% if assessments %}
    {% for assessment in assessments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>{{ assessment.title }}{% if assessment.value %} ({{ assessment.value }} %){% endif %}
                    <div class="buttons pull-right">
                        <a href="#" id="delete_{{ assessment.slug }}"><span class="glyphicon glyphicon-trash"></span></a>
                        <a href="{{ assessment.get_absolute_url }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </h5>
            </div>
            <div class="panel-body">
                <table>
                    {% if assessment.submission_date %}
                    <tr>
                        <td>
                            Submission Date
                        </td>
                        <td>
                            {{ assessment.submission_date }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if assessment.max_word_count %}
                    <tr>
                        <td>
                            Word Count
                        </td>
                        <td>
                            {{ assessment.max_word_count }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endif %}

<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">{% if edit %}{{ edit }}{% else %}Add{% endif %}</h5>
    </div>
    <div class="panel-body">
        {% crispy form %}
    </div>
</div>

{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

$(document).ready(function() {
    $('#id_value').val({{ value_left }});
    $('#id_value').keyup(function() {
        var value = parseInt($(this).val());
        if (isNaN(value)) {
            $('#error').text('Please enter a number between 0 and {{ value_left }}');
            $('input[type="submit"]').attr('disabled', 'disabled');
        }
        else {
            if (value > {{ value_left }}) {
                $('input[type="submit"]').attr('disabled', 'disabled');
                $('#error').text('Your assessments exceed 100 % in their values!');
            }
            else {
                $('input[type="submit"]').removeAttr('disabled');
                $('#error').text('');
            }
        };
    });

    $(".datepicker").datepicker({
        format: "dd/mm/yyyy",
        weekstart: 1
    });
});

{% if assessments %}
    {% for assessment in assessments %}
        $(document).on("click", "#delete_{{ assessment.slug }}", function(e) {
            bootbox.confirm("Are you sure you want to delete this assessment and all associated results?", function(confirm) {
                if (confirm)
                {
                    window.location.replace("")
                }
            });
        });
    {% endfor %}
{% endif %}

</script>

{% endblock %}
