{% extends "base.html" %}
{% load custom_filters %}

{% block formstart %}
    <form id="absenceForm" method="post"> 
    {% csrf_token %}
{% endblock %}

{% block style %}
.small-table{
    padding:5px;
}
{% endblock %}

{% block content %}

<h1>
    Attendance for {{ module }}{% if seminar_group %} - Seminar Group {{ seminar_group }}{% endif %}
</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4">
            <label>Show</label>
            <select class="form-control" id="show">
                <option value="all">All Weeks</option>
                {% for week in module.all_teaching_weeks %}
                    <option value="{{ week }}">Only Week {{ week }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p>{% if this_week %}We are currently in week {{ this_week }}.{% else %}We are either not in a teaching week or your administrator forgot to enter them...{% endif %}</p>
            <p>Make sure you enter all attendances for this session. Blank entries will not be counted.</p>
            <p>A = Absent / E = Excused absent / P = Present</p>
        </div>
    </div>
</div>

<table id="attendance_table" class="table table-striped table-condensed">
    <thead class="header">
        <tr>
            <th>Student</th>
            {% for week in module.all_teaching_weeks %}
                <th class="column column_{{ week }}">{{ week }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for performance in performances %}
            <tr>
                <td>
                    {{ performance.student.short_name }}
                </td>
                {% for week in module.all_teaching_weeks %}
                    <td class="column column_{{ week }}">
                        <table>
                            <thead>
                                <tr>
                                    <th class="small-table">A</th>
                                    <th class="small-table">E</th>
                                    <th class="small-table">P</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="a"{% if performance|get_attendance:week == 'a' %} checked{% endif %}>
                                    </th>
                                    <th>
                                        <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="e"{% if performance|get_attendance:week == 'e' %} checked{% endif %}>
                                    </th>
                                    <th>
                                        <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="p"{% if performance|get_attendance:week == 'p' %} checked{% endif %}>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        {% comment %}
                        
                        This solution looks much nicer. Unfortunately, it causes problems: when saving a big range of values,
                        some of them can be left out at random. I could not find a solution. The Stack Overflow thread is:
                        http://stackoverflow.com/questions/25490595/result-from-radio-style-buttons-in-bootstrap-3-not-always-in-post-data

                                <label class="btn btn-default btn-xs active">
                                    <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="a" checked>A
                                </label>
                            {% else %}
                                <label class="btn btn-default btn-xs">
                                    <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="a">A
                                </label>
                            {% endif %}
                            {% if performance|get_attendance:week == 'e' %}
                                <label class="btn btn-default btn-xs active">
                                    <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="e" checked>E
                                </label>
                            {% else %}
                                <label class="btn btn-default btn-xs">
                                    <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="e">E
                                </label>
                            {% endif %}
                            {% if performance|get_attendance:week == 'p' %}
                                <label class="btn btn-default btn-xs active">
                                    <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="p" checked>P
                                </label>
                            {% else %}
                                <label class="btn btn-default btn-xs">
                                    <input type="radio" name="{{ performance.student.student_id }}_{{ week }}" value="p">P
                                </label>
                            {% endif %}
                        </div>
                        {% endcomment %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %}
The Value of the Save button can be changed, as long as the week specific one contains the week number
as its only number and as long as the "Save all" one does not contain a number
{% endcomment %}

<a href="{{ module.get_absolute_url }}" class="btn btn-primary">Cancel</a>
<input type="submit" name="save" value="Save Changes for All Weeks" id="save" class="btn btn-primary" data-loading-text="Please wait">

{% endblock %}

{% block formend %}
</form>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

$(document).ready(function() {
    $('#show').change(function() {
        switch($(this).val()) {
            case 'all':
                $('.column').show();
                $('#save').val('Save Changes for All Weeks');
                break;
            {% for week in module.all_teaching_weeks %}
            case '{{ week }}':
                $('.column').hide();
                $('.column_{{ week }}').show();
                $('#save').val('Save Changes for Week {{ week }}');
                break;
            {% endfor %}
        }
    })

    // The following allows to deselect the radio buttons
    $(':radio').mousedown(function(e){
        var $self = $(this);
        if( $self.is(':checked') ){
            var uncheck = function(){
                setTimeout(function(){$self.removeAttr('checked');},0);
            };
            var unbind = function(){
                $self.unbind('mouseup',up);
            };
            var up = function(){
                uncheck();
                unbind();
            };
            $self.bind('mouseup',up);
            $self.one('mouseout', unbind);
        }
    });

});

</script>

{% endblock %}
