{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/table-fixed-header.css">
{% endblock %}

{% block formstart %}
    <form id="absenceForm" method="post"> 
    {% csrf_token %}
{% endblock %}

{% block content %}

<h1>
    Attendance for {{ module }}{% if seminar_group %} - Seminar Group {{ seminar_group }}{% endif %}
</h1>

<p>
    A = Absent / E = Excused absent / P = Present
</p>

<table id="attendance_table" class="table table-fixed-header">
    <thead class="header">
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
    
{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/table-fixed-header.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $('.table-fixed-header').prepFixedHeader().fixedHeader();
</script>

{% endblock %}
