<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}NomosDB - {{ UNI_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ UNI_NAME }}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

    {% block style %}{% endblock %}
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

{% block menubar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "home" %}">{{ UNI_SHORT_NAME }}@NomosDB</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="menu-students" data-toggle="dropdown">Students <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url "add_student" %}" id="menu-add-students">Add Student(s)</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="menu-modules" data-toggle="dropdown">Modules <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "add_module" %}" id="menu-add-module">Add Module</a></li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Student">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "admin" %}" id="menu-admin">Admin</a></li>
        <!--
            <li><a href="#">Link</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        -->
        </ul>
    </div>
</nav>
{% endblock %}

{% block formstart %}
<!-- necessary for forms that include sortable tables -->
{% endblock %} 
{% block structure %} <!-- adaptable for different basic layouts -->
<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block formend %}{% endblock %}

<script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block loadscripts %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>
