{% extends "base.html" %}
{% block content %}
<h1>Courses</h1>

{% if courses %}
    <table class="table" id="sortable_table">
        <thead>
            <tr>
                <th>
                    <span class="glyphicon glyphicon-sort"></span> Course
                </th>
                <th>
                    <span class="glyphicon glyphicon-sort"></span> Short Title
                </th>
                <th>
                    <span class="glyphicon glyphicon-sort"></span> Subject Areas
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>
                        {{ course.title }}
                    </td>
                    <td>
                        {% if course.short_title %}{{ course.short_title }}{% endif %}
                    </td>
                    <td>
                        {% if course.subject_areas %}
                            <ul>
                                {% for subject_area in course.subject_areas.all %}
                                    <li>{{ subject_area }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ course.get_edit_url }}">Edit</a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No courses entered yet.</p>
{% endif %}

<a href="{% url "add_course" %}" id="add_course" class="btn btn-primary">Add a course</a>

{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#sortable_table').tablesorter();
    });
</script>

{% endblock %}
