{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block style %}
.help-block {
    visibility: hidden
}
{% endblock %}

{% block content %}
<h1>{% if edit %}Edit{% else %}Add{% endif %} Course</h1>
<br>
{% crispy form %}

<br><br>
<a href="{% url "subject_areas" %}" class="btn btn-default">Subject Area missing?</a>
{% endblock %}

{% block scripts %}


<script type="text/javascript" 
src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js">
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" type="text/css" media="screen" />

<script type="text/javascript">

$(".chosen-select").chosen()

</script>

{% endblock %}
