{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>{{ module }}</h1>

    <p>
        <table class="table">
            <tr>
                <td><strong>ID</strong></td>
                <td>{{module.code}}</td>
                <td><strong>Year</strong></td>
                <td>{{module.year}}/{{module.year|add:"1"}}</td>
            </tr>
            <tr>
                <td><strong>Number of Students</strong></td>
                <td>{{ module.student_set.count }}</td>
                <td><strong>Sessions so far<strong></td>
                <td>{{ module.sessions_recorded }}</td>
        </table>
    </p>  
    {% if adminorinstructor %}
        <p>
            <small><a href=# class="delete">Delete this module</a></small>
        </p>
    {% endif %}
     <p align="right">
     <a class="btn btn-default" id="edit" href="{{ module.get_edit_url }}">
            Edit
        </a>
    </p>
</div>

{% endblock %}
