{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>{{ module }}</h1>

    <p>
        <table class="table">
            <tr>
                <td><strong>Code</strong></td>
                <td>{{module.code}}</td>
                <td><strong>Year</strong></td>
                <td>{{module.year}}/{{module.year|add:"1"}}</td>
            </tr>
            <tr>
                <td><strong>Number of Students</strong></td>
                <td>{{ module.student_set.count }}</td>
                <td><strong>Sessions so far<strong></td>
                <td>{{ module.sessions_recorded }}</td>
        </table>
    </p>  
    {% if adminorinstructor %}
        <p>
            <small><a href=# class="delete">Delete this module</a></small>
        </p>
    {% endif %}
     <p align="right">
     <a class="btn btn-default" id="edit" href="{{ module.get_edit_url }}">
            Edit
        </a>
    </p>
</div>

<div class="btn-group" id="module_control_buttons">
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Seminar Groups / Attendance <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ module.get_seminar_groups_url }}">Assign Seminar Groups</a></li>
        </ul>
    </div>
    <a class="btn btn-default" id="add_students_to_module" href="{{ module.get_add_students_url }}">
        Add Student(s)
    </a>
</div>

<br><br>

<table id ="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Seminar Group
            </th>
            <th>
                Student
            </th>
            <th>
                LSP
            </th>
            <th>
                Attendance
            </th>
            {% for assessment in module.all_assessment_titles %}
                <th>
                    {{ assessment.0 }}{% if assessment.1 %} ({{ assessment.1 }} %){% endif %}
                </th>
            {% endfor %}
            <th>
                Module Mark
            </th>
        </tr>
    </thead>
    <tbody>
        {% for performance in performances %}
            <tr>
                <td>
                    {{ performance.seminar_group|default_if_none:"" }}
                </td>
                <td>
                    <a href="{{ performance.student.get_absolute_url }}">{{ performance.student.short_name }}</a>
                </td>
                <td>
                    {% if performance.student.lsp %}<span class="glyphicon glyphicon-warning-sign"></span>{% endif %}
                </td>
                <td>
                    {% comment %}
                    {{ performance.student.get_attendance }}
                    {% endcomment %}
                </td>
                <td>
                    {% for assessment_result in performance.all_assessment_results_as_strings %}
                        <td>
                            {{ assessment_result }}
                        </td>
                    {% endfor %}
                </td>
                <td>
                    {{ performance.average|default_if_none:"" }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
