{% extends "base.html" %}

{% block style %}
.buttons{
    font-size: 60%;
}
{% endblock %}

{% block content %}

<div class="well">
    <h1>
        {{ module }}
        <div class="buttons pull-right">
            <span class="glyphicon glyphicon-info-sign" id="info-sign" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ module.code }}<br>{{ module.students.count|default_if_none:"0" }} Students"></span>
            {% if admin_or_instructor %}
                <a href="#" id="delete_this_module" data-toggle="tooltip" data-placement="bottom" title="Delete this module"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="{{ module.get_edit_url }}" id="edit" data-toggle="tooltip" data-placement="bottom" title="Edit this module"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </div>
    </h1>

{% comment %}
{{ module.code }}, {{ student_set.count }} Students
{% endcomment %}


<br>

<div class="btn-group" id="module_control_buttons">
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Seminar Groups / Attendance <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ module.get_seminar_groups_url }}">Assign Seminar Groups</a></li>
            {% for item in seminar_group_links %}
                {% if item.0 == 'all' %}
                    <li><a href="{{ item.1 }}">Attendance for all groups</a></li>
                {% else %}
                    <li><a href="{{ item.1 }}">Attendance for Seminar Group {{ item.0 }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{{ module.get_export_attendance_sheet_url }}">Export Attendance Sheet</a></li>
            <li><a href="{{ module.get_seminar_group_overview_url }}">Seminar Group Overview</a></li>
            <li class="divider"></li>
            <li><a href="{{ module.get_seminar_groups_url }}">Assign Seminar Groups</a></li>
            <li><a href="{{ module.get_old_seminar_groups_url }}">Assign Seminar Groups on Internet Explorer</a></li>
        </ul>
    </div>
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Assessment <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% for assessment in module.all_group_assessments %}
                <li><a href="{{ assessment.get_assessment_group_url }}">Set assessment groups for {{ assessment.title }}</a></li>
            {% endfor %}
            <li><a href="{{ module.get_assessment_url }}">Set assessments for the module</a></li>
        </ul>
    </div>
    <a class="btn btn-default" id="add_students_to_module" href="{{ module.get_add_students_url }}">
        Add Student(s)
    </a>
</div>
</div>

<br><br>

{% if module.all_assessment_titles|length == 0 %}
<p class="bg-warning">You need to <a href="{{ module.get_assessment_url }}">set some assessments for this module</a></p>
{% endif %}


{% if performances %}

<table id ="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Seminar Group
            </th>
            <th>
                Student
            </th>
            <th>
                LSP
            </th>
            <th>
                Attendance
            </th>
            {% for assessment in module.all_assessment_titles %}
                <th>
                    {{ assessment.0 }}{% if assessment.1 %} ({{ assessment.1 }} %){% endif %}
                </th>
            {% endfor %}
            <th>
                Module Mark
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        {% for performance in performances %}
            <tr>
                <td>
                    {{ performance.seminar_group|default_if_none:"" }}
                </td>
                <td>
                    {{ performance.student.get_link|safe }}
                </td>
                <td>
                    {% if performance.student.lsp %}<span class="glyphicon glyphicon-warning-sign"></span>{% endif %}
                </td>
                <td>
                    {{ performance.count_attendance }}
                </td>
                {% for assessment_result in performance.all_assessment_results_as_strings %}
                    <td>
                        {{ assessment_result|default_if_none:"" }}
                    </td>
                {% endfor %}
                <td>
                    {{ performance.average|default_if_none:"" }}
                </td>
                <td>
                    <a href="#" class="remove"><span class="glyphicon glyphicon-remove" id="{{ performance.student.student_id }}"></span></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<p class="bg-warning">You need to <a href="{{ module.get_add_students_url }}">add students</a> to this module.</p>

{% endif %}

{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(document).ready(function(){

        $("#info-sign").tooltip();
        $("#delete_this_module").tooltip();
        $("#edit").tooltip();

        $(document).on("click", "#delete_this_module", function(e) {
            bootbox.confirm("Are you sure you want to delete this module? Doing so will remove all marks / attendances entered for it as well.", function(confirm) {
                if (confirm)
                {
                    window.location.replace('{{ module.get_delete_self_url }}');
                }
            });
        });

        $(document).on("click", ".remove", function(e) {
            bootbox.confirm("Are you sure you want to remove this student from the module and delete all marks the students might have in this module? If the student is just temporary absent, it is better to mark them inactive.", function(confirm) {
                if (confirm)
                {
                var student_id = e.target.id;
                var remove = "{{ module.get_blank_remove_student_url }}" + student_id;
                window.location.replace(remove);
                }
            });
        });

    });

</script>

{% endblock %}
