{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}js/chosen/chosen.css" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<h1>{% if own_form %}My Details{% else %}{% if edit %}Edit{% else %}Add{% endif %} Staff Member{% endif %}</h1>
<br>
{% crispy form %}
{% endblock %}

{% block loadscripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen/chosen.jquery.min.js"> </script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(".chosen-select").chosen()
</script>

{% endblock %}
