<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}NomosDB - {{ UNI_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ UNI_NAME }}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

    {% block style %}{% endblock %}
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    Hello, dear student!
</div>

</body>
</html>
