{% load custom_filters %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}NomosDB - {{ UNI_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ UNI_NAME }}">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

    {% block style %}{% endblock %}
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <div class="btn-group pull-right">
        <a href="{% url "password_change" %}" class="btn btn-primary">Change password</a>
        <a href="{% url "logout" %}" class="btn btn-primary">Log out</a>
    </div>

    <h2>Hello {{ student.short_first_name }}!</h2>

    {% if years %}

        <p>Please see the list of marksheets stored for you below.</p>

        {% for year, performances in years.items %}

        <h3>{{ year|academic_year }}</h3>

            {% for performance in performances %}

                <h4>{{ performance.title }}</h4>

                <ul>
                {% for result in performance.results %}
                    <li>{{ result.title }}</li>

                    <ul>
                        {% if result.first %}<li><a href="{{ result.first }}">Marksheet</a></li>{% endif %}
                        {% if result.resit %}<li><a href="{{ result.resit }}">Marksheet for the Resit</a></li>{% endif %}
                        {% if result.second_resit %}<li><a href="{{ result.second_resit }}">Marksheet for the Second Resit</a></li>{% endif %}
                        {% if result.qld_resit %}<li><a href="{{ result.qld_resit }}">Marksheet for the QLD Resit</a></li>{% endif %}
                    </ul>
                {% endfor %}
                </ul>

            {% endfor %}

    {% endfor %}

    {% else %}

    <p>There are no marksheets stored for you yet. You can normally expect marksheets to show up here 3 weeks after the submission date.</p>

    {% endif %}

</div>

</body>
</html>
