{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>{{student.first_name}} {{student.last_name}} {% if not student.active %}(Inactive){% endif %}</h1>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseProgramme">
                    Programme Details
                </a>
            </h4>
        </div>
        <div id="collapseProgramme" class="panel-collapse collapse{% if not to_meetings %} in{% endif %}">
            <div class="panel-body">
                <table class="table" id="programme-table">
                    <tr>
                        <td><strong>ID</strong></td>
                        <td>{{student.student_id}}</td>
                        <td><strong>Course</strong></td>
                        <td>{{ student.course }}{% if student.qld %} (QLD{% if student.is_part_time %}, part time{% endif %}){% elif student.is_part_time %} (part time){% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
                        <td><strong>Tutor</strong></td>
                        <td><a href="mailto:{{ student.tutor.user.email }}?Subject={{ student }}">{{ student.tutor.name }}</a></td>
                    </tr>
                    <tr>
                        <td><strong>Year</strong></td>
                        <td>{{ student.year }} {% if student.since %} (Studying since {{ student.since }}/{{ student.since|add:"1" }}) {% endif %}</td>
                        <td><strong>LSP</strong></td>
                        <td>{% if student.lsp %}This student has an LSP/IRAP{% else %}No LSP/IRAP{% endif %}</td>
                    </tr>
                </table>
                {% if student.notes %}
                <h4>Notes</h4>
                {{ student.notes }}
                <br>
                {% endif %}
                <p align="right">
                     <a class="btn btn-default btn-sm" id="edit" href="{{ student.get_edit_url }}">
                        Edit
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAddress">
                    Address
                </a>
            </h4>
        </div>
        <div id="collapseAddress" class="panel-collapse collapse">
            <div class="panel-body">
                {% if student.phone_number or student.cell_number %}
                    {% if student.phone_number %}
                    <p>
                        <strong>Phone No:</strong> {{ student.phone_number }}
                    </p>
                    {% endif %}
                    {% if student.cell_number %}
                    <p>
                        <strong>Mobile No:</strong> {{ student.cell_number }}
                    </p>
                    {% endif %}
                {% else %}
                <p><em>No phone number in the database</em></p>
                {% endif %}
                {% if student.home_address and student.address %}
                <table cellpadding="10">
                    <tr>
                        <td>
                            <strong>Home Address</strong><br>
                            {{ student.html_home_address|safe }}
                        </td>
                        <td>
                            <strong>Term Address</strong><br>
                            {{ student.html_address|safe }}
                        </td>
                    </tr>
                </table>
                {% elif student.home_address %}
                <table cellpadding="10">
                    <tr>
                        <td>
                            <strong>Home Address</strong><br>
                            {{ student.html_home_address|safe }}
                        </td>
                    </tr>
                </table>
                <br><p><em>No term time address in the database</em></p>
                {% elif student.address %}
                <table cellpadding="10">
                    <tr>
                        <td>
                            <strong>Term Address</strong><br>
                            {{ student.html_address|safe }}
                        </td>
                    </tr>
                </table cellpadding="10">
                <p><em>No home address in the database</em></p>
                {% else %}
                <p><em>No addresses in the database</em></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if performances.8 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseP8">
                    Performance for PhD
                </a>
            </h4>
        </div>
        <div id="collapseP8" class="panel-collapse collapse">
            <div class="panel-body">
                {% for performance in performances.8 %}
                    <h3>{{ performance.module }}</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Attendance
                            </td>
                            <td>
                                {{ performance.count_attendance }}
                            </td>
                        </tr>
                        {% for result in performance.all_assessment_results_as_tpls %}
                        <tr>
                            <td>
                                {{ result.0|safe }}
                            </td>
                            <td>
                                {{ result.1|safe }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if performances.7 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseP8">
                    Performance in Masters
                </a>
            </h4>
        </div>
        <div id="collapseP7" class="panel-collapse collapse">
            <div class="panel-body">
                {% for performance in performances.7 %}
                    <h3>{{ performance.module }}</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Attendance
                            </td>
                            <td>
                                {{ performance.count_attendance }}
                            </td>
                        </tr>
                        {% for result in performance.all_assessment_results_as_tpls %}
                        <tr>
                            <td>
                                {{ result.0|safe }}
                            </td>
                            <td>
                                {{ result.1|safe }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if performances.3 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseP3">
                    Performance in Level 6
                </a>
            </h4>
        </div>
        <div id="collapseP3" class="panel-collapse collapse">
            <div class="panel-body">
                {% for performance in performances.3 %}
                    <h3>{{ performance.module }}</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Attendance
                            </td>
                            <td>
                                {{ performance.count_attendance }}
                            </td>
                        </tr>
                        {% for result in performance.all_assessment_results_as_tpls %}
                        <tr>
                            <td>
                                {{ result.0|safe }}
                            </td>
                            <td>
                                {{ result.1|safe }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if performances.2 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseP2">
                    Performance in Level 5
                </a>
            </h4>
        </div>
        <div id="collapseP2" class="panel-collapse collapse">
            <div class="panel-body">
                {% for performance in performances.2 %}
                    <h3>{{ performance.module }}</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Attendance
                            </td>
                            <td>
                                {{ performance.count_attendance }}
                            </td>
                        </tr>
                        {% for result in performance.all_assessment_results_as_tpls %}
                        <tr>
                            <td>
                                {{ result.0|safe }}
                            </td>
                            <td>
                                {{ result.1|safe }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if performances.1 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseP1">
                    Performance in Level 4
                </a>
            </h4>
        </div>
        <div id="collapseP1" class="panel-collapse collapse">
            <div class="panel-body">
                {% for performance in performances.1 %}
                    <h3>{{ performance.module }}</h3>
                    <table class="table">
                        <tr>
                            <td>
                                Attendance
                            </td>
                            <td>
                                {{ performance.count_attendance }}
                            </td>
                        </tr>
                        {% for result in performance.all_assessment_results_as_tpls %}
                        <tr>
                            <td>
                                {{ result.0|safe }}
                            </td>
                            <td>
                                {{ result.1|safe }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if allowed_to_see_notes %}
    <div class="panel panel-default" id="tutee_meetings">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseMeetingNotes">
                    Tutorials
                </a>
            </h4>
        </div>
        <div id="collapseMeetingNotes" class="panel-collapse collapse{% if to_meetings %} in{% endif %}">
            <div class="panel-body">
            {% if meetings %}
                {% for meeting in meetings %}
                <div id="meeting_{{ meeting.id }}">
                    <h4 id="start_with_{{ meeting.id }}" style="padding-top: 60px; margin-top: -60px;">{{ meeting.date_of_meet }} {% if meeting.tutor.pk != staff_pk %} (with {{ meeting.tutor.name }}){% endif %}</h4>
                    {{ meeting.notes }}
                    {% if meeting.tutor.pk == staff_pk %}
                    <div class="btn-group pull-right">
                        <a href="{{ meeting.get_edit_url }}" class="btn btn-default">Edit</a>
                        <a href="#" class="btn btn-default delete" id="{{ meeting.id }}">Delete</a>
                    </div>
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
            {% else %}
                <p>No meetings recorded yet.</p>
            {% endif %}
            {% if tutor %}
                <h4>{% if edit %}Edit Meeting{% else %}Add New Meeting{% endif %}</h4>
                    <div id="meeting_notes">
                        {% crispy form %}
                    </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

$(document).ready(function() {
    $(".datepicker").datepicker({
        format: "dd/mm/yyyy",
        weekstart: 1
    });

    if (window.location.hash)
    {
        var anchor = window.location.hash.replace("#", "");
        $("#collapseProgramme").collapse('hide');
        // Maybe add conditionals here, so it would be possible to open other things
        if (anchor == "edit")
        {
            $("#collapseMeetingNotes").collapse('show');
            location.hash = "#id_notes";
            $('#meeting_{{ edit }}').hide();
        }
        //$("#" + anchor).collapse('show');
    };

    $(document).on("click", ".delete", function(e) {
        bootbox.confirm("Are you sure you want to delete this meeting record?", function(confirm) {
            if (confirm)
            {
            var meeting_id = e.target.id;
            var tmp = "{% url "delete_tutee_meeting" "meeting_id" %}";
            var remove = tmp.replace('meeting_id', meeting_id);
            window.location.replace(remove);
            }
        });
    });
});

</script>
{% endblock %}
