{% extends "base.html" %}

{% block content %}

<p>
Select the .csv file to upload. You need to tell Excel or LibreOffice Calc that you want to use semicolons for separating the cells. Please make sure that the spreadsheet you are using does not contain any semicolons itself.
</p>

<form action="{% url "upload_csv" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form }}</p>
    <input type = "submit" value="Upload" class="btn btn-primary" align="right">
</form>

{% endblock %}
