{% extends "base.html" %}

{% block style %}
td { 
    padding: 10px;
}
{% endblock %}

{% block formstart %}
<form id="students_form" method="post"> 
{% csrf_token %}
{% endblock %}

{% block content %}

<div class="well">
    <h1>Student Overview - {{ headline }}</h1>
    <span class="glyphicon glyphicon-info-sign pull-right" id="info-sign" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{ number_of_students }} Students"></span>

    {% if students %}

    {% if edit %}

    <div id="bulkfunctions">
        <strong>Apply actions to selected students</strong>
        <br><br>
        <table>
            <tr>
                <td>
                    <select id="action_selector">
                        <option value="blank" selected>Select Action</option>
                        <option value="course">Course</option>
                        <option value="qld">QLD status</option>
                        {% comment %}
                        <option value="nalp">Paralegal pathway</option>
                        {% endcomment %}
                        <option value="since">Begin of studies</option>
                        <option value="year">Year of study</option>
                        <option value="inactive">Active / Inactive</option>
                        <option value="delete">Delete students</option>
                    </select>
                </td>
                <td id="second_option"></td>
            </tr>
        </table>
    </div>

    {% endif %}
</div>

<table id ="sortable_table" class="table table-striped">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="select_all">
            </th>
            {% if show_year %}
                <th>
                    <span class="glyphicon glyphicon-sort"></span> Year
                </th>
            {% endif %}
            <th>
                <span class="glyphicon glyphicon-sort"></span> Student
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span> ID
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span> Course
            </th>
            <th>
            {% if year == '9' %}
                <span class="glyphicon glyphicon-sort"></span> Degree
            {% else %}
                <span class="glyphicon glyphicon-sort"></span> Tutor
            {% endif %}
            </th>

        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <input type="checkbox" name="selected_student_id" value="{{ student.student_id }}" class="checkbox">
                </td>
                {% if show_year %}
                    <td>
                        {{ student.year }}
                    </td>
                {% endif %}
                <td>
                    <a href="{{ student.get_absolute_url }}">{{ student.short_name }}</a>
                </td>
                <td>
                    {{ student.student_id }}
                </td>
                <td>
                    {{ student.course }}
                </td>
                <td>
                    {% if year == '9' %}
                    {{ student.get_achieved_degree_display }}
                    {% else %}
                    <a href="mailto:{{ student.tutor.user.email }}?subject={{ student.short_first_name }} {{ student.last_name }}">{{ student.tutor.name }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<p>There are no students in this category</p>

{% endif %}

{% endblock %}

{% block formend %}
</form>
{% endblock %}

{% block loadscripts %}
<script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">


    $(document).ready(function(){

        $('#sortable_table').tablesorter();

{% if edit %}

        $('#select_all').click(function(event) {
            if(this.checked) {
                $('.checkbox').each(function() {
                    this.checked = true;
                });
            }else{
                $('.checkbox').each(function() {
                    this.checked = false;
                });        
            }
        });

        $("#action_selector").change(function() {
            var option = $(this).val();
            switch(option)
            {
            case 'blank':
                var toenter = '';
                break;
            case "qld":
                var toenter = 'Mark selected as...<br>\
                              <input type="radio" name="modify" value="qld_on" checked>\
                              QLD students<br><input type="radio"\
                              name="modify" value="qld_off">NOT QLD students\
                              <br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            case "course":
                var toenter = 'Enroll selected on...<br>\
                <select name="modify">\
                {% for course in courses %}<option value="course_{{ course.title }}">{{ course.title }}<br>{% endfor %}\
                </select><br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            case "nalp":
                var toenter = '<br>Mark selected as...<br>\
                              <input type="radio" name="modify" value="nalp_on" checked>\
                              On the paralegal pathway<br>\
                              <input type="radio" name="modify" value="nalp_off">\
                              NOT on the paralegal pathway\
                              <br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            case "since":
                var toenter = '<br>Selected students started in...<br>\
                              <select name="modify">{% for academic_year in academic_years %}<option value="since_{{ academic_year }}">{{ academic_year }}/{{ academic_year|add:"1" }}</option>{% endfor %}</select>\
                              <br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            case "year":
                var toenter = '<br>Mark selected as...<br>\
                              <select name="modify"><option value="year_1">Year 1</option><option value="year_2">Year 2</option><option value="year_3">Year 3</option></select>\
                              <br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            case "inactive":
                var toenter = '<br>Mark selected as...<br>\
                              <input type="radio" name="modify" value="active_yes" checked>\
                              Active<br>\
                              <input type="radio" name="modify" value="active_no">\
                              Inactive<br>\
                              <br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            case "delete":
                var toenter = '<p>This action cannot be undone.\
                              All records about these students will be deleted.\
                              If a student is intermitting, it is better to mark them as inactive.\
                              </p><p>Are you sure you want to do this?</p>\
                              <input type="radio" name="modify" value="delete_yes">\
                              Yes<br>\
                              <input type="radio" name="modify" value="delete_no" checked>\
                              No<br>\
                              <br><br><input type="submit" value="Apply" class="btn btn-default">';
                break;
            };
            $("#second_option").html(toenter);
        });
{% endif %}
    });
    $("#info-sign").tooltip();

</script>

{% endblock %}
